<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body {
    height: 100%;
   background-color:     #66b7b0    ;
}
#page {
    width: 1200px;
    margin: 0px auto -1px auto;
    padding: 15px;
}
.InsideContent{
    display:inline-block;
}
}
#divTable {
    width: 800px;
}
</style><br/><br/>
<!--<body background-image: url("/home/swathi/Pictures/blue.jpg");">-->
<body>
<!--<div class="dashboard" ng-style="{'background-image':'url(/swathi/Pictures/blue.jpg)'}">-->
<div class="dashboard">
    <div id="page">
<div id="divTable" class="InsideContent">
                <div class="span1">

<img src="/src/assets/logo1.png" height="200" width="200"/>
</div></div>

            <div id="divTable" class="InsideContent">
                <div class="span1">
    <a ng-click="navigateToPrice()" class="btn btn-primary">
        <i class="fa fa-money" aria-hidden="true"></i>
        <span><strong>PRICE</strong></span>            
    </a>
                </div>
            </div>&nbsp;
            <div id="divTable" class="InsideContent">
                    <div class="span1">
                        <a ng-click="navigateToInventory()" class="btn btn-primary">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span><strong>INVENTORY</strong></span>          
                        </a>
                    </div>
            </div>  
    </div></div></body>
